a {
  color: white;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

header {
  background: #92E0E5;
  color: white;
  height: 50px;
  padding: 0 25 px;
}

header h1{
float: left;
text-indent: -9999px;
background: url('../images/placeholder.svg') no-repeat;
height: 35px;
width: 35px;
margin-top: 8px;
}

li {
  list-style: none;
  display: inline-block;
  padding: 17px 10px;
}

.horizontal {
  float: right;
}

.dropdown {
    display:none;
}

.screen {
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media only
screen and (max-width: 414px) {
  .horizontal{
    display: none;
  }

  .screen{
    display: block;
  }

  #menu{
    float: right;
  }
}
