a {
  color: white;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

header h1{
float: left;
}

li {
  list-style: none;
}

.horizontal {
  background-color: #4004B2;
  float: right;
  height: 10vh;
  display: inline-block;
}

.dropdown {
    display:none;
}

.screen {
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media only
screen and (max-width: 414px) {
  .horizontal{
    display: none;
  }

  .screen{
    display: block;
  }
}
